---
const { title, url, description, date } = Astro.props;
---

<li>
  <div>{date}</div>
  <h2 data-ui="display">
    <a href={url}> {title}</a>
  </h2>
  {description && <p>{description}</p>}
  <p>
    <a
      href={url}
      style="--link-radius: initial"
      aria-label={`Continue reading ${title}`}
    >
      <b>Continue reading</b>
    </a>
  </p>
  <hr />
</li>
